*.ipch
*.suo
*.db
*.pdb
*.exe
*.ilk
*.tlog
*.obj
*.idb
*.log
*.exp
*.iobj
*.ipdb
.tmp
bin
Debug
Release
.vscode
CMakeLists.txt
CMakePresets.json

# Visual Studio 2015/2017 cache/options directory
.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
